<footer align="center">
  <hr>
  <p>Hanna Bautsiuk</p>
  <p><%= github_url("leinaly", "test_guru") %></p>
  <p>Web app for creating, editing and prform tests</p>
  <p><%= link_to("Study project at online school Thinknetica", "https://thinknetica.com", target: :_blank) %></p>
  <p><%= current_year %></p>
</footer>
